# توكن البوت من @BotFather
BOT_TOKEN=8452140704:AAHulgLSbqZkVzAT_hbb9sObcDnfUeD1PQc

# آيدي الأدمن الرئيسي (رقم)
BOT_ADMIN_ID=5254495041

# مفتاح سري لحماية Webhook (غيّره)
WEBHOOK_SECRET=a9f8e7d6c5b4a3f2e1d0c9b8a7f6e5d4c3b2a1f0e9d8c7b6a5f4e3d2c1b0a9f8e7

# (اختياري) الدعم الفني
BOT_SUPPORT=@SHBH_S1